<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847723180440-csi2hqgqjvjcddc4o4286942cfq8gp44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847723180440-csi2hqgqjvjcddc4o4286942cfq8gp44</string>
	<key>API_KEY</key>
	<string>AIzaSyDjaV0ft0KEuEDOwPcdHO_r6ydscWURFow</string>
	<key>GCM_SENDER_ID</key>
	<string>847723180440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helpmynet.www</string>
	<key>PROJECT_ID</key>
	<string>helpmynet-1c036</string>
	<key>STORAGE_BUCKET</key>
	<string>helpmynet-1c036.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847723180440:ios:715646520a46ff0011bbed</string>
</dict>
</plist>